*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Eczar", serif;
    font-style: normal;
}

/* CONTENEDOR PRINCIPAL */

.grid-container{
    display: grid;
    grid-template-columns: 25vh auto 50vh;
    grid-template-rows: 15vh auto 25vh;
    text-align: center;
    gap: 2px;
    background-color: #F5F5DC;
    width: 100%;
    height: 100%;
}

nav,
footer{
    grid-column: 1 / span 3;
}

/* NAV */

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #778899;
}

.nav-left img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    margin: 10px;
}

.nav-right img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.nav-left {
    display: flex;
    align-items: center;
    padding: 5px;
}

.nav-left #data {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 13px;
}

.nav-left #data #user-name {
    font-weight: bold;
}

.nav-right {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    padding: 10px;
}

.nav-right img {
    position: relative;
}

.nav-right #desplegue {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: end;
    position: absolute;
    right: 15px;
    top: 60px;
    background-color: #F5F5DC;
    padding: 7px;
    border: 1px solid #000;
    border-radius: 10px;
    display: none;
    box-shadow: 0 0 5px 0 #000;
}

.nav-right #desplegue li {
    width: 100%;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #778899;
}

.nav-right #desplegue li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

/* MAIN */
.main {
    background-color: #F5F5DC;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postear {
    display: flex;
    border: 1px solid;
    justify-content:start;
    width: 95%;
    border-radius: 15px;
    margin-bottom: 10px;
}

#perfil-post {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    margin: 10px;
}

.write-posteo {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
}

.write-posteo input{
    width: 600px;
    outline: none;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid #778899;
}

.write-posteo textarea{
    width: 600px;
    outline: none;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid #778899;
    resize: none;
    field-sizing: content;
    max-height: 100px;
}

.write-posteo button {
    margin: 10px;
    border-radius: 15px;
    border: none;
    width: 55px;
    background-color: #000;
    color: #778899;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.posteos {
    margin-bottom: 10px;
    width: 95%;
    min-height: 244px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
    min-height: 244px;
}

.no-content {
    width: 100%;
    text-align: center;
}

#contenido {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid;
    font-size: 14px;
}

#contenido span {
    font-weight: bold;
}

#autor {
    display: flex;
    align-items: center;
}

/* ASIDE-LEFT */
.left {
    background-color: #778899;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.left ul li a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    width: 100%;
    text-decoration: none;
    color: #000;
}

.left ul li a div img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.left ul li a .menu-msg {
    display: flex;
    align-items: start;
    width: 100%;
    font-size: 14px;
}

/* ASIDE-RIGHT */
.right {
    background-color: #778899;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: #F5F5DC;
}

.people img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    margin: 10px;
}

.people .data-people {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    margin: 10px;
}

.people button{
    margin: 10px;
    border-radius: 15px;
    border: none;
    width: 55px;
    background-color: #000;
    color: #778899;
    cursor: pointer;
}

.people .data-people .user-name-people {
    font-weight: bold;
}

.people .data-people .name-people {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* NAV-PHONE */
.nav-phone {
    display: none;
}


/* FOOTER */
.footer {
    background-color: #778899;
}

.content-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:768px){
    .left, .right {
        display: none;
    }

    main {
        grid-column: 1 / span 3; /*Con esto le decimos que ocupe la columna 1 y se expanda hasta la columna 3*/
    }

    .grid-container {
        grid-template-rows: 1fr auto 1fr;
    }

    .nav-right #desplegue {
        top: 45px;
    }

    .nav-phone {
        display: flex;
        background-color: #F5F5DC;
    }

    .nav-phone #menu-nav-phone {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        list-style: none;
    }

    .nav-phone #menu-nav-phone img {
        width: 22px;
        height: 22px;
    }
}

@media only screen and (max-width:460px){

    .grid-container {
        grid-template-columns: 99%;
        grid-template-rows: 1fr auto 1fr 1fr;
    }

    .write-posteo input {
        width: 100%;
    }
    
    .write-posteo textarea {
        width: 300px;
        max-height: 100px;
    }

    .nav-phone {
        display: flex;
        background-color: #F5F5DC;
    }

    .nav-phone #menu-nav-phone {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        list-style: none;
    }

    .nav-phone #menu-nav-phone img {
        width: 22px;
        height: 22px;
    }
}