*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Eczar", serif;
    font-style: normal;
}

/* CONTENEDOR PRINCIPAL */

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 500px 100px;
    text-align: center;
    background-color: #000;
}

/* HEADER */
.header{
    background-color: #000;
    width: 100%;
    height: 100%;
    text-align: center;
    border-bottom: 15px #778899 solid;
}

.header #title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: #778899;
    font-size: 30px;
    font-weight: bold;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 15px #778899 solid;
    background-color: #F5F5DC;
}

.div-form {
    background-color: #778899;
    display: flex;
    flex-direction: column;
}

.main .section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .section #registerUsuario {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 400px;
    border: 2px solid #000;
    border-radius: 5%;
    background-color: #778899;
} 

.main .section #registerUsuario input, 
.main .section #registerUsuario label, 
.main .section .register button {
    margin: 5px;
}

.main .section #registerUsuario input {
    outline: none;
    padding-left: 5px;
    background-color: #fff;
}

.main .section #registerUsuario button {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 5%;
    border: none;
    box-shadow: 0 0 1px 0 #fff;
    background-color: #000;
    text-decoration: none;
    color: #778899;
    font-size: 14px;
}

.main .section #registerUsuario .item-register-usuario {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}

.main .section #registerUsuario .item-register-usuario .item-register-usuario-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main .section #registerUsuario .item-register-usuario .item-register-usuario-name input {
    margin: 10px;
}

.main .section #registerUsuario .item-register-usuario .item-register-usuario-warning {
    display: flex;
    justify-content: center;
    width: 10%;
}

.main .section #registerUsuario .item-register-usuario input {
    width: 95%;
}

.main .section #registerUsuario .item-register-usuario-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

.main .section #registerUsuario .item-register-usuario-date input {
    margin-top: 0;
    margin-bottom: 0;
    width: 95%;
}


.main .section #registerUsuario .item-register-usuario-date label {
    width: 95%;
    text-align: start;
    font-size: small;
}

.main .section #registerUsuario .item-register-usuario-photo input{
    width: 82%;
    accent-color: #778899;
}

.main .section #registerUsuario .item-register-usuario .item-register-usuario-genare {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 95%;
}

.main .section #registerUsuario .item-register-usuario .item-register-usuario-g {
    text-align: start;
    margin-left: 3px;
}

.main .section #registerUsuario .item-register-usuario .item-register-usuario-g label {
    font-size: small;
}

.main .section #registerUsuario .item-register-usuario .item-register-usuario-checkbox {
    font-size: 14px;
    display: flex;
    justify-content: center;
    height: 32px;
    width: 100%;
}

.main .section #registerUsuario .item-register-usuario .item-register-usuario-checkbox input {
    width: 15px;
    accent-color: #000;
}

.main .section #registerUsuario .item-register-usuario-photo {
    width: 95%;
    text-align: start;
    font-size: small;
}

.main .section #registerUsuario .item-register-usuario-photo input{
    width: 95%;
    text-align: center;
    font-size: small;
}

.main .section #registerUsuario button {
    margin-top: 15px;
    cursor: pointer;
}

#mensajeValidacion{
    color: #fff;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal_container {
    background-color: #F5F5DC;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10%;
}

#modal_close {
    cursor: pointer;
    border-radius: 5%;
    box-shadow: 0 0 1px 0 #fff;
    background-color: #000;
    text-decoration: none;
    color: #778899;
    font-size: small;
    padding: 3px;
}

#modal_close:hover{
    color: #000;
    background-color: #778899;
    border: 1px solid #000;
}

/* FOOTER */
.footer {
    background-color: #778899;
}

.content-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Avisos */
#mensajesValidacion {
    color: #fff;
}

#warning-name-surname {
    background-color: #fff;
    color: #e41919;
    position: absolute;
    width: auto;
    padding: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: start;
    right: 51%;
    top: 15%;
    border-radius: 8%;
    font-size: small;
    display: none;
}

#warning-username {
    background-color: #fff;
    color: #e41919;
    position: absolute;
    width: auto;
    padding: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: start;
    right: 54.5%;
    top: 34%;
    border-radius: 8%;
    font-size: small;
    display: none;
}

#warning-email {
    background-color: #fff;
    color: #e41919;
    position: absolute;
    width: auto;
    padding: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: start;
    right: 54.5%;
    top: 40.5%;
    border-radius: 8%;
    font-size: small;
    display: none;
}

#warning-password {
    background-color: #fff;
    color: #e41919;
    position: absolute;
    width: 200px;
    padding: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: start;
    left: 34.5%;
    top: 46%;
    font-size: small;
    display: none;
}

#warning-password ul {
    padding-left: 15px;
}

#warning-birthdate {
    background-color: #fff;
    color: #e41919;
    position: absolute;
    width: auto;
    padding: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: start;
    right: 54.5%;
    top: 55%;
    border-radius: 8%;
    font-size: small;
    display: none;
}

#warning-genare {
    background-color: #fff;
    color: #e41919;
    position: absolute;
    width: auto;
    padding: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: start;
    right: 54.5%;
    top: 65.5%;
    border-radius: 8%;
    font-size: small;
    display: none;
}

#warning-photo {
    background-color: #fff;
    color: #e41919;
    position: absolute;
    width: auto;
    padding: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: start;
    right: 54.5%;
    top: 75.5%;
    border-radius: 8%;
    font-size: small;
    display: none;
}
#warningNameSurname, #warningUsername, #warningPass,
#warningEmail, #warningBirthdate, #warningPhoto, #warningGenare {
    width: 20px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 425px) {

    .main .section #registerUsuario {
        width: 90%;
    }

    .main .section #registerUsuario .item-register-usuario .item-register-usuario-checkbox {
        font-size: 12px;
    }
}

@media only screen and (max-width: 375px) {

    .main .section #registerUsuario .item-register-usuario .item-register-usuario-checkbox {
        font-size: 12px;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 375px) {

    .main .section #registerUsuario .item-register-usuario .item-register-usuario-checkbox {
        font-size: 12px;
        flex-wrap: wrap;
        align-items: center;
    }

    .main .section #registerUsuario .item-register-usuario .item-register-usuario-checkbox label {
        margin: 2px;
    }

    .main .section #registerUsuario .item-register-usuario .item-register-usuario-checkbox input {
        margin: 0;
    }
}